.img-wrap {
	position: relative;
	height: 350;
	width: 350;
}

.img-description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #46556d;
	color: white;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description {
	opacity: 0.5;
	visibility: visible;
}