body {
  font-family: 'Amaranth', sans-serif;
  /*background-image: url("images/stardust.png");*/
  /*background-size: 100%;*/
  background-color: white;
}

/*jumbotrons */
.jumbotron {
  background-color: black;
}

.eventsJumbo {
  background-color: pink;
  margin-top: 20px;
  height: 450px;
}

.homeJumbo {
  background-image: url("images/FullSizeRender.jpg");
  background-size: cover;
  color: #d3eded;
}


.jumboTitle {
    /*font-family: 'Pacifico', cursive;*/
    color: #eceff1;
    font-size: 24px;
    font-family: 'Great Vibes', cursive;
}


/*navbars */
#navbarID {
	color: #082e4f;
}

.center-pills {
  display: inline-block;
}


/*panels*/
.panel-title {
    color: black;
}


/*home */
.imageRotate {
    transform: rotate(180deg);
}

.font-logo {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 25px;
}

.ghsLogo {
  margin-top: -15px;
  height: 50px;
  width: 50px;
}

/*Meet the Staff CSS*/
.staffTitle {
  color: #eceff1;
}

.staffName {
  color: #e1f5fe;
}

.staffBio {
  color: #01579b;
}

#jumboStaffName {
  color: #0d0e0f;
}

#jumboStaffTitle {
  color: #354351;
}

.squads {
  color: #617487;
}

/*events*/
#announcement {
  font-size: 100px;
}

/*footer CSS*/

#footerPanel {
  width: 100%;
  /*background-color: #828ea3;*/
  background-color: #9599a0;
  color: white;
}

.madeBy {
  font-size: 10px;
}
