body {
  font-family: 'Amaranth', sans-serif;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  /*background-color: #1a1b1c;*/
  height: 100%;
  background-color: #161515;
  /*background-color: #333132;*/
  color: black;
  position: relative;
}

/*changes the scrollbar on events page */
::-webkit-scrollbar {
  background-color: #161515;  
}

::-webkit-scrollbar-thumb {
  background-color: #222323;
}

.active {
  background-color: #d0d6e2;
}

/*jumbotrons */
.jumbotron {
  background-color: #9b0101;
  color: black;
}

#campGdale {
  background-color: #a37373;
  /*background-color: #adedc1; */
}
#competitionJumbo {
  font-family: 'Lora', serif;
  background-color: #e3e5e8;
  margin-top: 20px;
}

.homeJumbo {
  background-image: url("images/FullSizeRender.jpg");
  background-size: cover;
  color: #d3eded;
}


.jumboTitle {
    font-family: 'Pacifico', cursive;
    /*color: #192842;*/
    color: white;
    font-size: 55px;
}

/*navbars */
#navbarID {
	color: #082e4f;
}

.center-pills {
  display: inline-block;
}

.navLogoFont {
  font-size: 24px;
    font-family: 'Great Vibes', cursive;
}

/*panels*/
.panel-title {
    color: black;
}

#staff-panel {
  background-color: black;
}


/*home */
#imageRotate {
    -ms-transform: rotate(179.9deg);
    -webkit-transform: rotate(179.9deg); 
    transform: rotate(179.9deg);
}

.font-logo {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 25px;
}

.ghsLogo {
  margin-top: -15px;
  height: 50px;
  width: 50px;
}

.modalScroll {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.center-wrapper-homePanel {
  width: 80%; 
  margin: auto;
}

/*Meet the Staff CSS*/
#staff-img {
  height: 354px;
  width: 344px;
}
.staffTitle {
  /*color: #eceff1;*/
  color: #9b0101;
}

.staffName {
  color: #e1f5fe;
}

.staffBio {
  /*color: #01579b;*/
  /*color: #363d47;*/
  color: white;
}

/*#jumboStaffName {
  color: #0d0e0f;
}

#jumboStaffTitle {
  color: #354351;
}*/

.squads {
  color: #617487;
}

/*events*/
 #master-calendar {
   color: white;
   /*overflow-y: scroll;
   height: 850px;*/

 }
.months {
  font-size: 75px;
  font-family: 'Lobster', cursive;
  color: #a80000;
}

/*media*/
.thanksCredit {
  font-size: 10px;
}

.whiteColor {
  color: white;
}


/*footer CSS*/

#footerPanel {
  width: 100%;
  /*background-color: #828ea3;*/
  background-color: #9599a0;
  color: white;
}

.madeBy {
  font-size: 10px;
}

/*Carousel*/
.carouselPic {
  height: 550px;
  max-height: 550px;
  width: 1000px;
}

#myCarousel {
  width: 80%; 
  margin: auto;
}

