body {
    background-color: #ba8f8f;
}

#navbarID {
	color: #082e4f;
}

.jumboTitle {
    font-family: 'Pacifico', cursive;
}

.panel-title {
    color: black;
}

.nationalTitlesList {
	color: red;
}

